.searchResults {
  padding: 50px 0 50px 0;
  .info {
    .product-number {
      font-weight: 500;
      font-size: 1.1rem;
      color: #333333;
    }
  }
  .results {
    display: flex;
    column-gap: 22px;
    row-gap: 35px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 576px) {
  // .card {
  //   width: 156px;
  //   height: 284px;
  //   padding: 20px 12px;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   .productImg {
  //     width: 101px;
  //     height: 142px;
  //     margin: 0 auto;
  //   }
  //   .product-info {
  //     gap: 16px;
  //     h3 {
  //       font-size: 14px;
  //       line-height: 20px;
  //       width: 132px;
  //       height: 48px;
  //     }
  //   }
  // }
}
