.products {
  display: flex;
  justify-content: space-between;
  gap: 45px;
  .left {
    width: 23%;
  }
  .mobile{
    display: none;
  }

  .product-list {
    margin-top: 100px;
    width: 77%;
    .card-list {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
  }
}
@media (max-width: 576px) {
  .products {
    .left {
      display: none;
    }
    .mobile{
        display: block;
    }
  }
}
